node_modules
build
.vscode
yarn-error.log
.idea
coverage
.DS_Store
logs.txt
attestation.json
expo-attestation
oauth.json
__pycache__

# Ignore all .env files and secrets
.env
*key*
*secret*
*secrets*

# Ignore merge artifacts
*.orig
